.About {
  width: 100%;
  height: 25rem;
  background-color: $color4;

  h2 {
    font-family: "Satisfy", cursive;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
    font-size: 3rem;
    text-decoration: underline solid $color3;
  }
  p {
      color: white;
      font-family: 'Roboto', sans-serif;
      padding: 2rem 3rem 2rem 3rem;
      text-align: justify;
  }
}
